@import "main.scss";

#main-banner {
    .callout {
        background-image: url("../img/main-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.thumbnail {
    width: 100%;

    img {
        width: 100%;
        height: 150px;
    }
}